* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6px;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat;
}
a {
  text-decoration: none;
}
.img-me {
  border: 0.2rem solid #2c3e50;
  box-shadow: 0px -100px 400px 90px rgba(44, 62, 80, 0.5);

  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-large {
  font-size: 2rem;
  padding: 2rem 1.6rem;
}
.btn {
  margin-top: 4rem;
  font-weight: 400;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-social {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
}

.btn-outline {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.btn-outline:hover {
  color: #212529;
  background-color: #fff;
}

.btn-primary {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #fff;
  padding: 1.8rem 1.6rem;
}

.btn-primary:hover {
  background-color: #128f76;
  border-color: #128f76;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  width: 100%;
  padding: 1rem;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  html {
    font-size: 5px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  html {
    font-size: 7px;
  }

  .col {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  html {
    font-size: 9px;
  }

  .col {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  html {
    font-size: 10px;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}

/*navbar*/

nav {
  width: 100%;
  font-family: "Genos", sans-serif;
  background-color: #2c3e50;
  color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  position: fixed;
  z-index: 500;
}
#logo-box {
  float: left;
  padding-top: 0.5rem;
}

#logo-box .logo {
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
}

#nav-links {
  float: right;
}

#nav-links .nav-item {
  float: left;
  margin: 0.4rem;
}

#nav-links .nav-link {
  color: #fff;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem;
  letter-spacing: 0.1rem;
  border: solid 0.1rem rgb(218, 97, 12);
  border-radius: 0.5rem;
  background: rgb(218, 97, 12);
  transition: all 0.5s;
}

#nav-links .nav-link:hover {
  color: rgb(65, 58, 58);
  border-color: rgb(65, 58, 58);
}

#nav-links .nav-icon {
  display: none;
}
@media (max-width: 992px) {
  #logo-box {
    float: none;
    text-align: left;
  }
  #nav-links {
    float: none;
  }
  #nav-links.responsive li:not(:first-child) {
    display: none;
  }
  #nav-links .nav-link {
    font-size: 2.1rem;
    padding-left: 0.3rem;
  }
  #nav-links .nav-item {
    float: none;
    text-align: left;
  }
  #nav-links .nav-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 3rem;
    color: #fff;
  }
}

/*header*/

header {
  background-color: #bdaf39;
  padding-top: calc(120px + 10rem);
  padding-bottom: 120px;
  text-align: center;
}

header h1 {
  font-family: "Comforter Brush", cursive;
  color: rgb(65, 58, 58);

  font-size: 7.6rem;
  padding: 2rem 0;
}

header h2 {
  color: rgb(65, 58, 58);
  font-size: 2.8rem;

  font-family: "Acme", sans-serif;
  font-weight: 300;
}

.compass-light {
  border: none;
  border-top: 0.4rem solid #fff;
  max-width: 25rem;
  margin: 2.5rem auto;
  overflow: visible;
  height: 0;
}
header .fa-drafting-compass {
  color: #fff;
  font-size: 3.2rem;
  position: relative;
  top: -43px;
  background-color: #B4A83A;
  padding: 0 2rem;
}

/*portfolio*/

#portfolio {
  background-color: rgb(61, 213, 240);
}

#portfolio h2 {
  font-size: 5.2rem;
  color: #2c3e50;
  font-family: "Genos", sans-serif;
}
.portfolio-item {
  position: relative;
}
.portfolio-item img {
  display: block;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #bdaf39;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-overlay .icon {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-item:hover .img-overlay {
  opacity: 0.7;
}

.compass-dark {
  border: none;
  border-top: 0.4rem solid #2c3e50;
  max-width: 25rem;
  margin: 3rem auto;
  overflow: visible;
  height: 0;
}

#portfolio .fa-drafting-compass {
  color: #2c3e50;
  font-size: 3.2rem;
  position: relative;
  top: -43px;
  background-color: rgb(61, 213, 240);
  padding: 0 2rem;
}

/* about */
#about {
  background-color: rgb(218, 97, 12);
  color: rgb(255, 255, 255);
}

#about h2 {
  font-size: 5.2rem;
  padding-bottom: 1rem;
  font-family: "Genos", sans-serif;
}
#about .fa-drafting-compass {
  color: #fff;
  font-size: 3.2rem;
  position: relative;
  top: -43px;

  background-color: rgb(218, 97, 12);

  padding: 0 2rem;
}
#about h2 {
  font-size: 4.8rem;
}

#about-text {
  text-align: left;
}

#about-text .text {
  font-size: 2rem;
}
@media (min-width: 992px) {
  #about-text .left {
    float: left;
    width: 50%;
    padding-right: 10px;
    padding-left: 210px;
  }

  #about-text .right {
    float: right;
    width: 50%;
    padding-right: 210px;
    padding-left: 10px;
  }
}

/*contact*/

#contact h2 {
  font-size: 5.2rem;
  color: #2c3e50;
  font-family: "Genos", sans-serif;
}
#contact .fa-drafting-compass {
  color: #2c3e50;
  font-size: 3.2rem;
  position: relative;
  top: -43px;
  background-color: rgb(255, 255, 255);
  padding: 0 2rem;
}

#contact-form {
  width: 70%;
  margin: 0 auto;

  text-align: left;
}

.form-group {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.form-group input,
.form-group textarea {
  border: none;
  width: 100%;
  display: block;
  font-size: 2.4rem;
}

.form-group input,
.form-group textarea:focus {
  outline: 0;
}

#message {
  resize: none;
}

/*Footer*/

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

footer h4 {
  font-size: 2.7rem;

  font-family: "Genos", sans-serif;
}
footer p {
  font-size: 1.6rem;
  margin-top: 2rem;
}

footer li {
  display: inline-block;
}

footer span {
  font-family: "Comforter Brush", cursive;
  display: block;
  color: rgb(218, 97, 12);
  text-decoration: underline;
}

.copyright {
  background-color: #1a252f;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
}
